body{
position:absolute;
left:340px;
}
#form{
box-shadow:3px 3px 2px #000000;
font-family:'Verdana';
border-radius:5px;
text-align:center;
margin-left:10px;
background-color:#a9a9a9;
width:200px;
height:120px;
border-style:outset;
padding:5px;
}
input{
border-style:inset;
border-radius:5px;
width:200px;
padding:1px;
}
#button{
margin-top:20px;

}

#button:hover{
box-shadow:3px 3px 2px #000000;
background-color:#a9a9a9;
padding:5px;
}

marquee{
width:200px;

}